/* LandingPage.css */

.landing-container {
  display: flex;
  flex-direction: column;
}

.appbar .MuiToolbar-root {
  position: fixed;
  width: 100%;
  background-color: #3f51b5 !important;
  display: flex;
  justify-content: center;  /* ✅ Horizontally center the content */
  align-items: center;       /* ✅ Vertically center */
}

.main-content {
  margin-top: 64px; 
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 120px; 
  background: #fff;
  text-align: center;
  flex-grow: 1;
}

.centered-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.main-img {
  max-width: 100%;
  height: 400px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0px;
}

.start-button {
  margin-bottom: 100px;
  background-color: #3f51b5 !important;
  transition: background-color 0.3s ease-in-out;
}

.start-button:hover {
  background-color: #0056b3 !important;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 150px;
}

.circular-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}

.circular-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.profile-name {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 0.2rem;
  color: #333;
}